@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.home {
    background-color: #f0f0f0; 
    min-height: 100vh;
}

.input-with-white-right-border {
    border-right: white !important;
}

.clear-btn {
    border-color: black black black white;
    background-color: transparent;
    cursor: pointer;
}

.clear-btn:hover {
    border-color: black black black white;
    color: gray;
    background-color: white;
}

.search-container {
    padding: 40px;
}

.search-container .form-control:focus {
    box-shadow: none; /* Remove the default box-shadow */
    border-color: transparent; /* Remove the default border color */
}

input {
    border-color: black !important;
}

.search-btn {
    background-color: #858585 !important;
    color: white;
}

.search-btn:hover {
    background-color: #333333 !important;
}

#home-message {
    text-align: center;
    font-family: 'Courgette', 'cursive';
    margin-bottom: 100px;
}

.book-container {
    border: none; 
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 100px;
    padding: 10px; 
}

.card {
    background-color: #ffffff; 
    border-color: transparent;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    padding: 10px;
    padding-bottom: 30px;
    border: 1px solid rgb(207, 201, 201);
    margin-bottom: 10px;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

.save-btn {
    width: 100px;
    background-color: #4C8844;
    color: white;
    border-color: #4C8844;
}

.save-btn:hover {
    background-color: #3C6D37;
    color: white;
    border-color: #3C6D37;
}

.save-btn.saved {
    background-color: gray; 
    border-color: gray;
    cursor: not-allowed; /* Show that the button is not clickable */
}

.save-btn.saved:hover {
    border-color: gray;
}

@media (max-width: 770px) {
    .book-container {
        padding-top: 50px;
    }

    .save-btn {
        top: -35px;
    }
}
