@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.input-with-white-right-border {
    border-right: white !important;
}

.button-container {
    display: flex;
    justify-content: center; 
    margin-bottom: 30px;
}

.refresh-btn {
    margin-left: 10px;
}

.sort-btn {
    border-color: transparent;
    padding: 0;
    background-color: transparent;
    color: black;
}

.sort-btn:hover {
    border-color: transparent;
    background-color: transparent;
    color: black;
}

#saved-message {
    text-align: center;
    font-family: 'Courgette', 'cursive';
    margin-bottom: 100px;
}

.card-actions {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Unified button size for status buttons */
.card-actions .btn,
.card-actions .delete-btn {
    flex: 1; /* Allow buttons to expand equally */
    margin: 5px; 
    color: white; 
    border: none; 
    transition: background-color 0.3s ease; 
    height: 40px; 
    width: 120px; 
}

/* Delete button specific styles */
.delete-btn {
    background-color: #B61624; 
}

.delete-btn:hover {
    background-color: darkred;
    color: white;
}

/* Status button specific styles */
.status-btn {
    width: 120px; /* Ensure status buttons have the same width */
}

.not-started-btn {
    background-color: blue; 
}

.in-progress-btn {
    background-color: gold; 
    color: black;
}

.finished-btn {
    background-color: green; 
}

.neutral-btn {
    background-color: lightgrey; 
}

.not-started-btn:hover {
    background-color: darkblue;
}

.in-progress-btn:hover {
    background-color: gold;
}

.finished-btn:hover {
    background-color: darkgreen;
}

.neutral-btn:hover {
    background-color: grey;
}

@media (max-width: 770px) {
    .book-container {
        padding-top: 50px;
    }

    .delete-btn {
        margin-bottom: 5px; 
    }
}
