@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.input-with-white-right-border {
    border-right: white !important;
}

.button-container {
    display: flex;
    justify-content: center; 
    margin-bottom: 30px;
}

.refresh-btn {
    margin-left: 10px;
}

.sort-btn {
    border-color: transparent;
    padding: 0;
    background-color: transparent;
    color: black;
}

.sort-btn:hover {
    border-color: transparent;
    background-color: transparent;
    color: black;
}

#saved-message {
    text-align: center;
    font-family: 'Courgette', 'cursive';
    margin-bottom: 100px;
}

/* Add styles to position the delete button and added date correctly */
.card-actions {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center-align the contents */
}

.delete-btn {
    position: relative;
    background-color: #B61624;
    color: white;
    margin-bottom: 8px; /* Add some space below the delete button */
}

.delete-btn:hover {
    background-color: darkred;
    color: white;
}

.added-date {
    font-size: 0.875rem; /* Smaller font size for the date */
    color: #6c757d; /* Optional: Set a color for the date text */
}

/* Adjust styles for smaller screens */
@media (max-width: 770px) {
    .book-container {
        padding-top: 50px;
    }

    .delete-btn {
        position: relative;
        bottom: 15px;
        right: 15px;
    }
}
